<form [formGroup]="form" (ngSubmit)="onSubmit(form, form.valid)" novalidate *ngIf="formReady">
  <div class="actions">
    <div class="form-group">
      <div class="form-group-label">
        <span class="required">*</span>
        <label>客户：</label>
      </div>
      <div class="form-group-control">
        <app-form-field [name]="'SupplierId'" [complexType]="true">
          <app-customer-popup-selector #formField (onConfirm)="selectCustomer($event)" [defaultTab]="this.form.controls['CustomerType'].value" 
          [customerName]="this.form.controls['SupplierName'].value" formControlName="SupplierId" [ngModel]></app-customer-popup-selector>
        </app-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>销售员：</label>
      </div>
      <div class="form-group-control">
        <app-popup-selector-employee (onConfirm)="selectEmployee($event)" formControlName="EmployeeId" [ngModel]></app-popup-selector-employee>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>销售部门：</label>
      </div>
      <div class="form-group-control">
        <app-department-selector [isEditing]="isEditing" formControlName="DepartmentId" [ngModel]></app-department-selector>
      </div>
    </div>
    <div class="more">
      <div class="form-group" *ngIf="operatorType === 'copy'">
        <div class="form-group-label">
          <span class="required">*</span>
          <label>销售单号：</label>
        </div>
        <div class="form-group-control">
            <input type="text" class="none-input" [value]="Code" disabled="disabled" />
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-label">
          <span class="required">*</span>
          <label>销售日期：</label>
        </div>
        <div class="form-group-control">
          <dp-date-picker theme="dp-material" mode="day" [config]="datePickerConfig" 
          formControlName="SaleTime" [ngModel]></dp-date-picker> 
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-ui-button [style]="'primary'" type="submit">
      保存
    </app-ui-button>
    <app-ui-button [style]="'primary'">
      导入
    </app-ui-button>
    <div class="more">
      <app-ui-checkbox formControlName="IsOpenDiscount" [inline]="false" [ngModel]>启用折扣</app-ui-checkbox>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <app-ui-checkbox formControlName="IsOpenTax" [inline]="false" [ngModel]>启用税率</app-ui-checkbox>
    </div>
  </div>
  <app-ui-table>
    <thead>
      <th>操作</th>
      <th><span class="required">*</span>商品</th>
      <th width="60px">规格型号</th>
      <th width="60px">单位</th>
      <th width="60px">{{propertyName1}}</th>
      <th width="60px">{{propertyName2}}</th>
      <th width="80px"><span class="required">*</span>销售数量</th>
      <th width="80px"><span class="required">*</span>销售单价</th>
      <th width="80px">销售金额</th>
      <th width="80px" *ngIf="hasOpenDiscount()">折扣率(%)</th>
      <th width="80px" *ngIf="hasOpenDiscount()">折扣额</th>
      <th width="80px" *ngIf="hasOpenDiscount()">折后金额</th>
      <th width="80px" *ngIf="hasOpenTax()">税率(%)</th>
      <th width="80px" *ngIf="hasOpenTax()">税额</th>
      <th width="80px" *ngIf="hasOpenTax()">税后金额</th>
      <th><span class="required">*</span>仓库<app-storage-selector (selectChanged)="selectAllStorage($event)" [isEditing]="false"></app-storage-selector></th>
    </thead>
    <tbody formArrayName="ItemList">
      <tr *ngFor="let item of saleItemList.controls; index as i" [formGroupName]="i">
        <td>
          <a class="text-success" (click)="addItem(i)"><i class="iconfont icon-add"></i></a>
          <a class="text-danger" (click)="removeItem(i)"><i class="iconfont icon-close"></i></a>
          <input type="hidden" formControlName="SortIndex" [value]="i" [ngModel] />
        </td>
        <td>
          <div class="selector-group">
            <input type="text" disabled="disabled" formControlName="Name" [ngModel] class="form-control" />
            <input type="hidden" formControlName="GoodsId" [ngModel] class="form-control" />
            <span class="addon" (click)="showModal($event)">
              <i class="iconfont"></i>选择
            </span>
          </div>
        </td>
        <td><input style="width:60px" type="text" formControlName="Spec" [ngModel] class="none-input" disabled="disabled"></td>
        <td>
          <input type="hidden" formControlName="UnitTime" [ngModel] />
          <app-productunit-selector (selectChanged)="selectProductUnit($event, i)" formControlName="ProductUnitId" [required]="true" [productId]="item.value.ProductId" [isEditing]="false" [ngModel]></app-productunit-selector>
        </td>
        <td>
          <input type="hidden" formControlName="ProductColorId" [ngModel] />
          <input style="width:60px" type="text" formControlName="ProductColorValue" class="none-input" [ngModel] disabled="disabled">
        </td>
        <td>
          <input type="hidden" formControlName="ProductSizeId" [ngModel] />
          <input style="width:60px" type="text" formControlName="ProductSizeValue" class="none-input" [ngModel] disabled="disabled">
        </td>
        <td>
          <app-form-field [name]="'ItemList'" [row]="i" [columnName]="'Quanlity'">
            <input type="text" #formField style="width:80px" formControlName="Quanlity" (change)="calculateItem('Quanlity', i, true)" class="form-control" [ngModel] />
          </app-form-field>
        </td>
        <td>
          <app-form-field [name]="'ItemList'" [row]="i" [columnName]="'Price'">
            <input type="text" #formField style="width:80px" formControlName="Price" (change)="calculateItem('Price', i, true)" class="form-control" [ngModel] />
          </app-form-field>
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="PurchaseAmount"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td *ngIf="hasOpenDiscount()">
          <input style="width:80px" type="text" (change)="calculateItem('DiscountRate', i, true)" formControlName="DiscountRate" class="form-control" [ngModel] />
        </td>
        <td *ngIf="hasOpenDiscount()">
          <input style="width:80px" type="text" formControlName="DiscountAmount" class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td *ngIf="hasOpenDiscount()">
          <input style="width:80px" type="text" (change)="calculateItem('AfterDiscountAmount', i, true)" formControlName="AfterDiscountAmount" class="form-control" [ngModel] />
        </td>
        <td *ngIf="hasOpenTax()">
          <input style="width:80px" type="text" (change)="calculateItem('TaxRate', i, true)" formControlName="TaxRate" class="form-control" [ngModel] />
        </td>
        <td *ngIf="hasOpenTax()">
          <input style="width:80px" type="text" formControlName="TaxAmount" class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td *ngIf="hasOpenTax()">
          <input style="width:80px" type="text" (change)="calculateItem('AfterTaxAmount', i, true)" formControlName="AfterTaxAmount" class="form-control" [ngModel] />
        </td>
        <td>
          <app-product-storage-selector [isEditing]="isEditing" formControlName="StorageId" [productId]="item.value.ProductId" [required]="true" [ngModel]></app-product-storage-selector>
        </td>
      </tr>
    </tbody>
  </app-ui-table>
  <div class="footer">
    <div class="summary-panel">
      <div class="remark-area">
          <textarea formControlName="Remark" [ngModel]></textarea>
      </div>
      <div class="billing-area">
        <table class="form">
          <tr>
            <th>合计金额：</th>
            <td>
              <input type="text" class="none-input" [value]="totalAmount" disabled="disabled" />
            </td>
          </tr>
          <tr>
            <th>整单折扣额：</th>
            <td>
              <app-form-field [name]="'WholeDiscountAmount'">
                <input #formField type="text" (change)="calculate()" formControlName="WholeDiscountAmount" [ngModel] />
              </app-form-field>
            </td>
          </tr>
          <tr>
            <th>整单折扣率：</th>
            <td>
                <app-form-field [name]="'WholeDiscountRate'">
                  <div class="input-group">
                      <input #formField type="text" (change)="calculate()" formControlName="WholeDiscountRate" [ngModel] />
                      <div class="addon">
                        %
                      </div>
                  </div>
                </app-form-field>
            </td>
          </tr>
          <tr>
            <th>总计金额：</th>
            <td>
              <input type="text" class="none-input" [value]="payedAmount" disabled="disabled" />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="action-bar">
      <label>
        <span>制单人：</span><input type="text" formControlName="UserName" class="none-input" [ngModel] disabled="disabled" /> 
      </label>
    </div>
  </div>
  <app-popup-selector-goods [customerId]="selectedCustomer ? selectedCustomer.Id : null" (onConfirm)="selectGoods($event)"></app-popup-selector-goods>
  <input type="hidden" formControlName="Id" [ngModel] />
  <input type="hidden" formControlName="CustomerType" [ngModel] />
</form>
