:host {
  flex: 1;
  display: flex;
  width: calc(100% - 280px);
}

.table-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  app-ui-table {
    flex: 1;
    width: 100%;
    overflow: auto;
  }
}
  