<form [formGroup]="form" (ngSubmit)="onSubmit(form,form.valid)" novalidate *ngIf="formReady">
    <app-card [header]="title" [show]="_show" (onCancel)="handleClose()">
      <div class="card-content">
        <div class="heading">
          基本信息
        </div>
        <table class="form">
          <tr>
            <th>
              <span class="required">*</span>
              职员名称：
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'Name'">
                <input #formField type="text" class="form-control" [ngModel] formControlName="Name"  (blur)="setErrorMessage('Name','职员名称',form.get('Name').errors)">
              </app-form-field>
            </td>
            <th class="form-label">所属部门：</th>
            <td class="form-control-group" colspan="3">
              <app-department-selector formControlName="DepartmentId" ngModel></app-department-selector>
            </td>
          </tr>
        </table>
        <div class="heading">
          个人信息
        </div>
        <table class="form">
          <tr>
            <th class="form-label">
              联系电话：
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'Mobile'">
               <input #formField type="text" class="form-control" [ngModel] formControlName="Mobile" (blur)="setErrorMessage('Mobile','联系电话',form.get('Mobile').errors)">
              </app-form-field>
            </td>
            <th>
              QQ:
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'QQ'">
                <input #formField type="text" class="form-control" [ngModel] formControlName="QQ" (blur)="setErrorMessage('QQ','QQ',form.get('QQ').errors)">
              </app-form-field>
            </td>
          </tr>
          <tr>
            <th class="form-label">
              邮箱：
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'Email'">
               <input #formField type="text" class="form-control" [ngModel] formControlName="Email" (blur)="setErrorMessage('Email','邮箱',form.get('Email').errors)">
              </app-form-field>
            </td>
            <th>
              身份证号:
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'IdentityCardNo'">
                <input #formField type="text" class="form-control" [ngModel] formControlName="IdentityCardNo" (blur)="setErrorMessage('IdentityCardNo','身份证',form.get('IdentityCardNo').errors)">
              </app-form-field>
            </td>
          </tr>
          <tr>
            <th class="form-label">
              地址：
            </th>
            <td class="form-control-group">
              <app-form-field [name]="'Address'">
               <input #formField type="text" class="form-control" [ngModel] formControlName="Address">
              </app-form-field>
            </td>
          </tr>
        </table>
        <div class="heading">备注</div>
        <input type="text" formControlName="Remark" class="form-control" [ngModel]>
      </div>
      <div app-card-footer>
        <app-ui-button [style]="'primary'" type="submit">
          保存
        </app-ui-button>
        <app-ui-button (click)="handleClose()">
          取消
        </app-ui-button>
      </div>
    </app-card>
  </form>
  