<div class="content" *ngIf="_show">
  <app-category></app-category>
  <div class="table-wrapper">
    <app-ui-table>
      <thead>
        <tr>
          <th></th>
          <th>往来单位编号</th>
          <th>往来单位名称</th>
          <th>应收款</th>
          <th>信用额度</th>
          <th>可用额度</th>
          <th>价格等级</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of others">
          <td *ngIf="isMultiSelect">
            <app-ui-checkbox [checked]="item.selected" (onChange)="select($event, item)"></app-ui-checkbox>
          </td>
          <td>{{item.Code}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.InitShouldPayAmount | number: '1.2'}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{item.SalePriceLevelDes}}</td>
        </tr>
      </tbody>
    </app-ui-table>
    <app-pagination-bar
      [total]="pagination.TotalCount"
      [options]="_options"
      [current]="pagination.PageIndex"
      (onChange)="onPageChange($event)"
    ></app-pagination-bar>
  </div>
</div>