<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value, loginForm.valid)">
  <div style="text-align: center;">
      <div style="display: block;">
          <span style="text-align: left;">{{alertInfo}}</span>
      </div>
    <div style="display: block;">
        <span style="text-align: left;" for="CompanyName">公司名称</span>
        <input type="text" [(ngModel)]="cacheCompanyName" name="CompanyName" formControlName="CompanyName" placeholder="公司名称"
          required />
    </div>
    <div style="display: block;">
      <span style="text-align: left;" for="LoginName">用户名</span>
      <input type="passport" [(ngModel)]="cacheUserName" name="UserName" formControlName="UserName" placeholder="用户名"
        required autofocus />
    </div>
    <div style="display: block;">
      <span style="text-align: left;" for="Password">密码</span>
      <input type="password" name="Password" formControlName="Password" placeholder="密码"
        required />
    </div>
    <div style="display: block;">
        <input type="checkbox" name="RememberMe" formControlName="RememberMe" />记住我
    </div>
    <button type="submit">登录</button>
  </div>
</form>