<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate *ngIf="formReady">
    <app-card [header]="'商品价格管理'" [show]="_show" (onCancel)="handleClose()">
        <div class="card-content">
            <app-ui-table>
              <thead>                    
                  <th>仓库</th>
                  <th>颜色</th>
                  <th>尺码</th>
                  <th>单位</th>                  
                  <th>期初数量</th>
                  <th>成本单价</th>
                  <th>期初总额</th>
                  <th>下线报警值</th>
                  <th>上线报警值</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of storageInitList; index as i">
                    <td>{{item.StorageName}}</td>
                    <td>{{item.ProductSpecColorAlias}}</td>
                    <td>{{item.ProductSpecSizeAlias}}</td>
                    <td>{{item.UnitName}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.BeginCount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.UnitCost}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.InitialTotalAmount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.StorageLowerAlarmCount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.StorageUpAlarmCount}}</td>
                    <td *ngIf="!systemConfig.IsOpenBill"><app-form-field [name]="'BeginCount'"><input type="number" formControlName="BeginCount" class="form-control" [ngModel]></app-form-field></td>
                    <td *ngIf="!systemConfig.IsOpenBill"><app-form-field [name]="'UnitCost'"><input type="number" formControlName="UnitCost" class="form-control" [ngModel]></app-form-field></td>
                    <td *ngIf="!systemConfig.IsOpenBill"><app-form-field [name]="'InitialTotalAmount'"><input type="number" formControlName="InitialTotalAmount" class="form-control" [ngModel]></app-form-field></td>
                    <td *ngIf="!systemConfig.IsOpenBill"><app-form-field [name]="'StorageLowerAlarmCount'"><input type="number" formControlName="StorageLowerAlarmCount" class="form-control" [ngModel]></app-form-field></td>
                    <td *ngIf="!systemConfig.IsOpenBill"><app-form-field [name]="'StorageUpAlarmCount'"><input type="number" formControlName="StorageUpAlarmCount" class="form-control" [ngModel]></app-form-field></td>
                </tr>
              </tbody>
            </app-ui-table>
        </div>
    </app-card>
    </form>