<form [formGroup]="form" (ngSubmit)="onSubmit(form,form.valid)" novalidate *ngIf="formReady">
    <app-card [header]="'商品期初编辑'" [show]="_show" (onCancel)="handleClose()">
        <div class="card-content">
            <app-ui-table class="form">
              <thead>                    
                  <th>仓库</th>
                  <th>颜色</th>
                  <th>尺码</th>
                  <th>单位</th>                  
                  <th>期初数量</th>
                  <th>成本单价</th>
                  <th>期初总额</th>
                  <th>下线报警值</th>
                  <th>上线报警值</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of storageInitList; index as i" [formGroupName]="i">
                    <td>{{item.StorageName}}</td>
                    <td>{{item.ProductSpecColorAlias}}</td>
                    <td>{{item.ProductSpecSizeAlias}}</td>
                    <td>{{item.UnitName}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.BeginCount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.UnitCost}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.InitialTotalAmount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.StorageLowerAlarmCount}}</td>
                    <td *ngIf="systemConfig.IsOpenBill">{{item.StorageUpAlarmCount}}</td>
                    <td *ngIf="!systemConfig.IsOpenBill">
                      <app-form-field [name]="'BeginCount'">
                        <input #formField style="width:60px" type="text" formControlName="BeginCount" [ngModel] />
                      </app-form-field>
                    </td>
                    <td *ngIf="!systemConfig.IsOpenBill">
                      <app-form-field [name]="'UnitCost'">
                        <input #formField style="width:60px" type="text" formControlName="UnitCost" [ngModel] />
                      </app-form-field>
                    </td>
                    <td *ngIf="!systemConfig.IsOpenBill">
                      <app-form-field [name]="'InitialTotalAmount'">
                        <input #formField style="width:60px" type="text" formControlName="InitialTotalAmount" [ngModel] />
                      </app-form-field>
                    </td>
                    <td *ngIf="!systemConfig.IsOpenBill">
                      <app-form-field [name]="'StorageLowerAlarmCount'">
                        <input #formField style="width:60px" type="text" formControlName="StorageLowerAlarmCount" [ngModel] />
                      </app-form-field>
                    </td>
                    <td *ngIf="!systemConfig.IsOpenBill">
                      <app-form-field [name]="'StorageUpAlarmCount'">
                        <input #formField style="width:60px" type="text" formControlName="StorageUpAlarmCount" [ngModel] />
                      </app-form-field>
                    </td>
                </tr>
              </tbody>
            </app-ui-table>           
        </div>
        <div app-card-footer>
            <app-ui-button [style]="'primary'" type="submit">
              保存
            </app-ui-button>
            <app-ui-button (click)="handleClose()">
              取消
            </app-ui-button>
          </div>
    </app-card>
    </form>