<form [formGroup]="form" (ngSubmit)="onSubmit(form, form.valid)" novalidate *ngIf="formReady">
  <div class="actions">
    <div class="form-group">
      <div class="form-group-label">
        <span class="required">*</span>
        <label>供应商：</label>
      </div>
      <div class="form-group-control">
        <app-customer-popup-selector (onConfirm)="selectCustomer($event)" formControlName="CustomerId" [ngModel]></app-customer-popup-selector>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>经手人：</label>
      </div>
      <div class="form-group-control">
        <app-popup-selector-employee (onConfirm)="selectEmployee($event)" formControlName="EmployeeId" [ngModel]></app-popup-selector-employee>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>部门：</label>
      </div>
      <div class="form-group-control">
        <app-department-selector [isEditing]="false" formControlName="DepartmentId" [ngModel]></app-department-selector>
      </div>
    </div>
    <div class="more">
      <div>
        <div class="form-group">
          <div class="form-group-label">
            <span class="required">*</span>
            <label>出库时间：</label>
          </div>
          <div class="form-group-control">
            <dp-date-picker theme="dp-material" mode="day" [config]="datePickerConfig" formControlName="BillTime"
              [ngModel]></dp-date-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-ui-button [style]="'primary'" type="submit">
      保存
    </app-ui-button>
    <app-ui-button [style]="'primary'">
      导入
    </app-ui-button>
  </div>
  <app-ui-table>
    <thead>
      <th width="60px">操作</th>
      <th width="60px"><span class="required">*</span>商品</th>
      <th width="60px">规格型号</th>
      <th width="60px">单位</th>
      <th width="60px">{{propertyName1}}</th>
      <th width="60px">{{propertyName2}}</th>
      <th width="80px"><span class="required">*</span>出库数量</th>
      <th width="80px"><span class="required">*</span>出库成本单价</th>
      <th width="80px"><span class="required">*</span>出库成本金额</th>
      <th width="120px"><span class="required">*</span>仓库<app-storage-selector (selectChanged)="selectAllStorage($event)"
          [isEditing]="false"></app-storage-selector>
      </th>
    </thead>
    <tbody formArrayName="StorageOutItemActionRequests">
      <tr *ngFor="let item of storageOutItemList.controls; index as i" [formGroupName]="i">
        <td>
          <a class="text-success" (click)="addItem(i)"><i class="iconfont icon-add"></i></a>
          <a class="text-danger" (click)="removeItem(i)"><i class="iconfont icon-close"></i></a>
        </td>
        <td>
          <div class="selector-group">
            <input type="text" formControlName="Name" [ngModel] class="form-control">
            <input type="hidden" formControlName="GoodsId" [ngModel] class="form-control">
            <span class="addon" (click)="showModal($event)">
              <i class="iconfont"></i>选择
            </span>
          </div>
        </td>
        <td>
          <input type="text" formControlName="Spec" [ngModel] class="none-input" disabled="disabled">
        </td>
        <td><input type="text" formControlName="ProductUnitName" class="none-input" [ngModel] disabled="disabled"></td>
        <td><input type="text" formControlName="ProductColorValue" class="none-input" [ngModel] disabled="disabled"></td>
        <td><input type="text" formControlName="ProductSizeValue" class="none-input" [ngModel] disabled="disabled"></td>
        <td>
          <app-form-field [name]="'StorageOutItemActionRequests'" [row]="i" [columnName]="'Quanlity'">
            <input #formField type="number" formControlName="Quanlity" (change)="calculateItem('Quanlity', i, true)"
              class="form-control" [ngModel]>
          </app-form-field>
        </td>
        <td>
          <app-form-field [name]="'StorageOutItemActionRequests'" [row]="i" [columnName]="'Price'">
            <input #formField type="number" formControlName="Price" (change)="calculateItem('Price', i, true)" class="form-control"
              [ngModel]>
          </app-form-field>
        </td>
        <td>
          <app-form-field [name]="'StorageOutItemActionRequests'" [row]="i" [columnName]="'Amount'">
            <input #formField type="number" formControlName="Amount" class="form-control" [ngModel]>
          </app-form-field>
        </td>
        <td>
          <app-storage-selector [isEditing]="false" formControlName="StorageId" [ngModel]></app-storage-selector>
        </td>
      </tr>
    </tbody>
  </app-ui-table>
  <div class="deliverybox">
    <div class="delivery">
      <span>配送方式：</span>
      <app-ui-radio [radioName]="'DeliveryMode'" [value]="'1'" formControlName="DeliveryMode" [label]="'自提'" [ngModel]></app-ui-radio>
      <app-ui-radio [radioName]="'DeliveryMode'" [value]="'2'" formControlName="DeliveryMode" [label]="'送货'" [ngModel]></app-ui-radio>
      <app-ui-radio [radioName]="'DeliveryMode'" [value]="'3'" formControlName="DeliveryMode" [label]="'快递'" [ngModel]></app-ui-radio>
    </div>
    <div *ngIf="form.controls['DeliveryMode'].value==='2'" class="actions">
      <div class="form-group">
        <div class="form-group-label">
          <label>送货人员：</label>
        </div>
        <div class="form-group-control">
          <app-popup-selector-employee (onConfirm)="selectEmployee($event)" formControlName="DeliveryEmployeeId"
            [ngModel]></app-popup-selector-employee>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>送货时间：</label>
        </div>
        <div class="form-group-control">
          <dp-date-picker width="60px" theme="dp-material" mode="day" [config]="datePickerConfig" formControlName="DeliveryDate"
            [ngModel]></dp-date-picker>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货人：</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveUser" class="form-control" [ngModel]>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货电话:</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveTel" class="form-control" [ngModel]>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货地址:</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveAddress" class="form-control" [ngModel]>
        </div>
      </div>
    </div>
    <div *ngIf="form.controls['DeliveryMode'].value==='3'" class="actions">
      <div class="form-group">
        <div class="form-group-label">
          <label>物流公司:</label>
        </div>
        <div class="form-group-control">
          <app-customer-popup-selector width="60px" (onConfirm)="selectCustomer($event)" formControlName="ExpressCustomerId" [ngModel]></app-customer-popup-selector>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>送货时间：</label>
        </div>
        <div class="form-group-control">
          <dp-date-picker theme="dp-material" width="60px" mode="day" [config]="datePickerConfig" formControlName="DeliveryDate"
            [ngModel]></dp-date-picker>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货人：</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveUser" class="form-control" [ngModel]>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货电话:</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveTel" class="form-control" [ngModel]>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>收货地址:</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="DeliveryReceiveAddress" class="form-control" [ngModel]>
        </div>
      </div>
  
      <div class="form-group">
        <div class="form-group-label">
          <label>物流单号:</label>
        </div>
        <div class="form-group-control">
          <input type="text" width="60px" formControlName="ExpressNumber" class="form-control" [ngModel]>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="summary-panel">
      <div class="remark-area">
        <textarea formControlName="Remark" [ngModel]></textarea>
      </div>
    </div>
    <div class="action-bar">
      <label>
        <span>制单人：</span><input type="text" formControlName="UserName" class="none-input" [ngModel] disabled="disabled">
      </label>
    </div>
  </div>
  <app-popup-selector-goods [customerId]="selectCustomer ? selectCustomer.Id : null" (onConfirm)="selectGoods($event)"></app-popup-selector-goods>
  <input type="hidden" formControlName="Id" [ngModel] />
  <input type="hidden" formControlName="CustomerType" [ngModel] />
</form>