.none-input {
    border: none;
    background: transparent;
    color: #000;
}
.footer {
    bottom: 0;
    height: 100px;
    background-color: #ffc0cb;
    padding: 10px 16px;
    background-color: #f1f5f9;
    border-bottom: 1px solid #e1e5ea;
    display: block;
}
textarea {
    font-size: 12px;
    border: 1px solid #e7e7e7;
    width: 100%;
    min-height: 48px;
    line-height: 24px;
    padding: 0 6px;
    background: #fff;
    outline: none;
    resize: none;
    border-radius: 2px;
    color: #353940;
}
.remark-area {
    display: flex;
}
.summary-panel {
    display: flex;
    padding: 10px;
}