<form [formGroup]="form" (ngSubmit)="onSubmit(form, form.valid)" novalidate *ngIf="formReady">
  <div class="actions">
    <div class="form-group">
      <div class="form-group-label">
        <span class="required">*</span>
        <label>付款单位：</label>
      </div>
      <div class="form-group-control">
        <app-form-field [name]="'CustomerId'" [complexType]="true">
          <app-customer-popup-selector #formField (onConfirm)="selectCustomer($event)"
            [defaultTab]="this.form.controls['CustomerType'].value"
            [customerName]="this.form.controls['CustomerName'].value" formControlName="CustomerId" [ngModel]>
          </app-customer-popup-selector>
        </app-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>经手人：</label>
      </div>
      <div class="form-group-control">
        <app-popup-selector-employee (onConfirm)="selectEmployee($event)" formControlName="EmployeeId" [ngModel]>
        </app-popup-selector-employee>
      </div>
    </div>
    <div class="more">
      <div class="form-group" *ngIf="operatorType === 'copy'">
        <div class="form-group-label">
          <span class="required">*</span>
          <label>收款单号：</label>
        </div>
        <div class="form-group-control">
          <input type="text" class="none-input" [value]="Code" disabled="disabled" />
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-label">
          <span class="required">*</span>
          <label>收款日期：</label>
        </div>
        <div class="form-group-control">
          <dp-date-picker theme="dp-material" mode="day" [config]="datePickerConfig" formControlName="BillTime"
            [ngModel]></dp-date-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-ui-button [style]="'primary'" type="submit">
      保存
    </app-ui-button>
    <app-ui-button [style]="'primary'">
      导入
    </app-ui-button>
  </div>
  <app-ui-table>
    <thead>
      <th>操作</th>
      <th><span class="required">*</span>收款账户</th>
      <th><span class="required">*</span>收款金额</th>
    </thead>
    <tbody formArrayName="ReceiveAccountActionRequests">
      <tr *ngFor="let item of receiveAccountList.controls; index as i" [formGroupName]="i">
        <td>
          <a class="text-success" (click)="addAccount(i)"><i class="iconfont icon-add"></i></a>
          <a class="text-danger" (click)="removeAccount(i)"><i class="iconfont icon-close"></i></a>
          <input type="hidden" formControlName="SortIndex" [value]="i" [ngModel] />
        </td>
        <td>
          <div class="selector-group">
            <app-fundsaccount-selector (selectChanged)="selectFundsAccount($event, i)" formControlName="AccountId"
              [required]="true" [isEditing]="false" [ngModel]></app-fundsaccount-selector>
             
            <input type="hidden" formControlName="AccountCode" [ngModel] />
            <input type="hidden" formCnotrolName = "AccountInfo" [ngModel] />
          </div>
        </td>
        <td>
          <app-form-field [name]="'ReceiveAccountActionRequests'" [row]="i" [columnName]="'PayAmount'">
            <input type="text" #formField style="width:80px" formControlName="PayAmount" (change)="calculateAmount('PayAmount', i, true)" class="form-control" [ngModel] />
          </app-form-field>
        </td>
      </tr>
    </tbody>
  </app-ui-table>
  <app-ui-table>
    <thead>
      <th>操作</th>
      <th>单据编号</th>
      <th>单据类型</th>
      <th>业务日期</th>
      <th>单据金额</th>
      <th>已结算金额</th>
      <th>未结算金额</th>
      <th>本次结算金额</th>
    </thead>
    <tbody formArrayName="ReceiveBillActionRequests">
      <tr *ngFor="let item of receiveBillList.controls; index as i" [formGroupName]="i">
        <td>
          <a class="text-success" (click)="addBillItem(i)"><i class="iconfont icon-add"></i></a>
          <a class="text-danger" (click)="removeBillItem(i)"><i class="iconfont icon-close"></i></a>
          <input type="hidden" formControlName="SortIndex" [value]="i" [ngModel] />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="BillCode"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="BillType"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="BillTime"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="BillAmount"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="CheckoutAmount"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input type="text" style="width:80px" formControlName="UnCheckoutAmount"  class="none-input" [ngModel] disabled="disabled" />
        </td>
        <td>
          <input style="width:80px" type="text" (change)="calculateBill('CurrentCheckOutAmount', i, true)" formControlName="CurrentCheckOutAmount" class="form-control" [ngModel] />
        </td>
      </tr>
    </tbody>
  </app-ui-table>
  <div class="footer">
    <div class="summary-panel">
      <div class="remark-area">
        <textarea formControlName="Remark" [ngModel]></textarea>
      </div>
      <div class="billing-area">
        <table class="form">
          <tr>
            <th>收款总金额：</th>
            <td>
              <input type="text" class="none-input" [value]="totalPayAmount" disabled="disabled" />
            </td>
          </tr>
          <tr>
            <th>优 惠 金 额：</th>
            <td>
              <app-form-field [name]="'TotalDiscountAmount'">
                <input #formField type="text"  formControlName="TotalDiscountAmount" [ngModel] />
              </app-form-field>
            </td>
          </tr>
          <tr>
            <th>结算金额：</th>
            <td>
                <input type="text" class="none-input" [value]="totalCheckoutAmount" disabled="disabled" />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="action-bar">
      <label>
        <span>制单人：</span><input type="text" formControlName="UserName" class="none-input" [ngModel]
          disabled="disabled" />
      </label>
    </div>
  </div>
  <input type="hidden" formControlName="Id" [ngModel] />
  <input type="hidden" formControlName="CustomerType" [ngModel] />
</form>