<div class="actions">
    <div class="form-group">
      <div class="form-group-label">
        <label>付款单位：</label>
      </div>
      <div class="form-group-control">
        <app-customer-popup-selector (onConfirm)="selectCustomer($event)"></app-customer-popup-selector>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>经手人：</label>
      </div>
      <div class="form-group-control">
        <app-popup-selector-employee (onConfirm)="selectEmployee($event)"></app-popup-selector-employee>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>收款账户：</label>
      </div>
      <div class="form-group-control">
        <app-fundsaccount-selector (onSelectedChange)="selectDepartment($event)" [isEditing]="false"></app-fundsaccount-selector>
      </div>
    </div>
   
</div>
<div class="actions">
    <div class="form-group">
        <div class="form-group-label">
            <label>收款时间：</label>
        </div>
        <div class="form-group-control">
          <dp-date-picker theme="dp-material" [(ngModel)]="queryItem.BeginDate" mode="day" [config]="datePickerConfig"></dp-date-picker> 
        </div>
        <span> ~ </span>
        <div class="form-group-control">
          <dp-date-picker theme="dp-material" [(ngModel)]="queryItem.EndDate" mode="day" [config]="datePickerConfig"></dp-date-picker> 
        </div>
    </div>
    <div class="more">
        <app-ui-button [style]="'primary'" (click)="query($event)" type="button">
            查询
        </app-ui-button>
        <app-ui-button *ngIf="selectNav.AuditStatus === 0" [style]="'primary'" (click)="audit()" type="button">
            审核
        </app-ui-button>
        <app-ui-button *ngIf="selectNav.AuditStatus === 1" [style]="'primary'" (click)="unAudit()" type="button">
            反审核
        </app-ui-button>
        <app-ui-button *ngIf="selectNav.AuditStatus === 0" [style]="'primary'" (click)="cancel()" type="button">
            删除
        </app-ui-button>
        <app-ui-button [style]="'primary'">
            导出
        </app-ui-button>
    </div>
</div>