<div class="selector-group">
  <input type="text" class="form-control" />
  <span class="addon" (click)="showModal($event)">
    <i class="iconfont icon-filter"></i>
  </span>
</div>
<app-ui-modal [show]="show" (onClose)="closeModal($event)">
  <div app-ui-modal-header>
    选择供应商
  </div>
  <div class="modal-body-wrapper">
    <div class="tabs">
      <ul class="tabs-list">
        <li><a [class]="isActive('Customer')" (click)="selectTab('Customer')">客户</a></li>
        <li><a [class]="isActive('Supplier')" (click)="selectTab('Supplier')">供应商</a></li>
        <li><a [class]="isActive('Other')" (click)="selectTab('Other')">其他往来单位</a></li>
      </ul>
    </div>
    <div class="actions">
      <app-quick-search [placeholder]="'编号、姓名'"></app-quick-search>
      <div class="more">
        <a href="">
          <i class="iconfont icon-refresh"></i>
        </a>
      </div>
    </div>
    <app-popup-selector-customer
      [show]="selectedTab === 'Customer'"
    ></app-popup-selector-customer>
    <app-popup-selector-supplier
      [show]="selectedTab === 'Supplier'"
    ></app-popup-selector-supplier>
    <app-popup-selector-other
      [show]="selectedTab === 'Other'"
    ></app-popup-selector-other>
  </div>
  <div app-ui-modal-footer>
    <app-ui-button [style]="'primary'">确定</app-ui-button>
    <app-ui-button (click)="closeModal($event)">取消</app-ui-button>
  </div>
</app-ui-modal>
