<div class="table-wrapper">
  <app-ui-table>
    <thead>
      <tr>
        <th>
          <app-ui-checkbox [checked]="allSelected" (onChange)="selectAll($event)"></app-ui-checkbox>
        </th>
        <th>操作</th>
        <th>单据编号</th>
        <th>供应商</th>
        <th>采购员</th>
        <th>采购部门</th>
        <th>采购日期</th>
        <th>采购数量</th>
        <th>采购金额</th>
        <th>单据状态</th>
        <th>单据备注</th>
        <th>制单人</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of purchases">
        <td>
          <app-ui-checkbox [checked]="item.selected" (onChange)="select($event, item)"></app-ui-checkbox>
        </td>
        <td>
          <a (click)="showContact(item.Id)">详情</a>
          <a (click)="update(item.Id)">修改</a>
          <a class="text-danger" (click)="onCancel(item.Id)">停用</a>
        </td>
        <td>{{item.Code}}</td>
        <td>{{item.CustomerName}}</td>
        <td>{{item.EmployeeName}}</td>
        <td>{{item.DepartmentName}}</td>
        <td>{{item.PurchaseTime | number: '1.2'}}</td>
        <td>{{item.Quanlity | number: '1.2'}}</td>
        <td>{{item.Amount | number: '1.2'}}</td>
        <td>{{item.StatusDes}}</td>
        <td>{{item.Remark}}</td>
        <td>{{item.CreateUserName}}</td>
      </tr>
    </tbody>
  </app-ui-table>
  <app-pagination-bar
    [total]="pagination.ItemCount"
    [current]="pagination.PageIndex"
    (onChange)="onPageChange($event)"
  ></app-pagination-bar>
  <app-card [header]="'联系人信息'" [show]="_showContact" (onCancel)="closeContact()">
    <app-ui-table>
      <thead>
        <th>联系人</th>
        <th>手机</th>
        <th>座机</th>
        <th>传真</th>
        <th>邮箱</th>
        <th>单位地址</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of contactList">
          <td>{{item.Name}}</td>
          <td>{{item.Mobile}}</td>
          <td>{{item.Tel}}</td>
          <td>{{item.Fax}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Address}}</td>
        </tr>
      </tbody>
    </app-ui-table>
    <div app-card-footer>
      <app-ui-button [style]="'primary'" (click)="closeContact()">
        确定
      </app-ui-button>
    </div>
  </app-card>
  <app-supplier-control
    [type]="'update'"
    [customerId]="selectedId"
    [show]="_showUpdate"
    (onClose)="closeUpdate()"
  ></app-supplier-control>
</div>
