<div class="table-wrapper">
    <app-ui-table>
      <thead>
        <tr>
          <th>
            <app-ui-checkbox [checked]="allSelected" (onChange)="selectAll($event)"></app-ui-checkbox>
          </th>
          <th>操作</th>
          <th>职员编号</th>
          <th>职员名称</th>
          <th>所属部门</th>
          <th>电话</th>
          <th>QQ</th>
          <th>邮箱</th>
          <th>身份证号</th>
          <th>个人住址</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employees">
          <td>
            <app-ui-checkbox [checked]="item.selected" (onChange)="select($event, item)"></app-ui-checkbox>
          </td>
          <td>
            <a (click)="update(item.Id)">修改</a>
            <a class="text-danger" (click)="onRemove(item.Id)">删除</a>
            <a class="text-danger" (click)="onCancel(item.Id)">停用</a>
          </td>
          <td>{{item.Code}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.DepartmentName}}</td>
          <td>{{item.Mobile}}</td>
          <td>{{item.QQ}}</td>
          <td>{{item.Email}}</td>          
          <td>{{item.IdentityCardNo}}</td>
          <td>{{item.Address}}</td>
          <td>{{item.Remark}}</td>
        </tr>
      </tbody>
    </app-ui-table>
    <app-pagination-bar
      [total]="pagination.ItemCount"
      [current]="pagination.PageIndex"
      (onChange)="onPageChange($event)"
    ></app-pagination-bar>
    <app-employee-control
    [type]="'update'"
    [employeeId]="selectedId"
    [show]="_showUpdate"
    (onClose)="closeUpdate()"
  ></app-employee-control>
  </div>
  