<div class="table-wrapper">
  <app-ui-table>
    <thead>
      <tr>
        <th>
          <app-ui-checkbox [checked]="allSelected" (onChange)="selectAll($event)"></app-ui-checkbox>
        </th>
        <th>操作</th>
        <th>名称</th>
        <th>父级菜单</th>
        <th>专属公司</th>
        <th>链接地址</th>
        <th>链接参数</th>
        <th>图标</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menus">
        <td>
          <app-ui-checkbox [checked]="item.selected" (onChange)="select($event, item)"></app-ui-checkbox>
        </td>
        <td>
          <a (click)="update(item.Id)">修改</a>
          <a class="text-danger" (click)="onCancel(item.Id)">停用</a>
        </td>
        <td>{{item.Name}}</td>
        <td>{{item.ParentName}}</td>
        <td>{{item.CompanyName}}</td>
        <td>{{item.Link}}</td>
        <td>{{item.LinkParameters}}</td>
        <td>{{item.Icon}}</td>
      </tr>
    </tbody>
  </app-ui-table>
  <app-pagination-bar
    [total]="pagination.ItemCount"
    [current]="pagination.PageIndex"
    (onChange)="onPageChange($event)"
  ></app-pagination-bar>
  <app-menu-control
    [menuId]="selectedId"
    [type] = "update"
    [show]="_showUpdate"
    (onClose)="closeUpdate()"
  ></app-menu-control>
</div>
