<form [formGroup]="form" (ngSubmit)="onSubmit(form, form.valid)" novalidate *ngIf="formReady">
  <app-card [header]="getTitle()" [show]="_show" (onCancel)="handleClose()">
    <div class="card-content">
      <div class="heading">
        基本信息
      </div>
      <table class="form">
        <tr>        
          <th class="form-label">
            <span class="required">*</span>
            权限名称:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'Name'">
             <input #formField type="text" class="form-control" [ngModel] formControlName="Name">
            </app-form-field>
          </td>
          <th class="form-label">
            <span class="required">*</span>
            按钮类型:
          </th>
          <td class="form-control-group">
            <app-button-style-selector (selectChanged)="selectButtonStyleChanged($event)" [required]="true" formControlName="ButtonStyle" [ngModel]></app-button-style-selector>
          </td>
        </tr>
        <tr *ngIf="this.form.controls['ButtonStyle'].value === 999">        
          <th class="form-label">
            <span class="required">*</span>
            关键字:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'Keycode'">
             <input #formField type="text" class="form-control" [ngModel] formControlName="Keycode">
            </app-form-field>
          </td>
        </tr>
      </table>
      <div class="heading">特殊菜单权限</div>
      <app-ui-table>
        <thead>
          <th>操作</th>
          <th>菜单</th>
        </thead>
        <tbody formArrayName="MenuPermissionList">
          <tr *ngFor="let item of menuPermissionList.controls; index as i" [formGroupName]="i">
            <td width="50%">
              <a class="text-success" (click)="addMenu(i)"><i class="iconfont icon-add"></i></a>
              <a class="text-danger" (click)="removeMenu(i)"><i class="iconfont icon-close"></i></a>
            </td>
            <td width="50%">
              <app-menu-selector getAll="true" formControlName="MenuId" [ngModel]></app-menu-selector>
            </td>
          </tr>
        </tbody>
      </app-ui-table>
      <div class="heading">备注</div>
      <input type="text" formControlName="Remark" class="form-control" [ngModel]>
    </div>
    <div app-card-footer>
      <app-ui-button [style]="'primary'" type="submit">
        保存
      </app-ui-button>
      <app-ui-button (click)="handleClose()">
        取消
      </app-ui-button>
    </div>
  </app-card>
</form>
