<div class="actions">
  <app-quick-search [placeholder]="'输入编号、名称查询'" (onSearch)="onSearch($event)"></app-quick-search>
  <app-ui-button [style]="'primary'" (click)="show()">
    <i class="iconfont icon-add"></i>
    新增权限
  </app-ui-button>
  <app-ui-button [style]="'danger'" [disabled]="!selectedItems.length" (click)="onCancel()">
    <i class="iconfont icon-delete"></i>
    停用
  </app-ui-button>
  <div class="more">
    <app-ui-button>
      导入
    </app-ui-button>
    <app-ui-button>
      导出
    </app-ui-button>
    <app-ui-button>
      打印
    </app-ui-button>
    <app-ui-button [style]="'danger'" (click)="showDisabled()">
      已停用列表
    </app-ui-button>
  </div>
</div>
<app-permission-control
  [show]="_show"
  [permissionId]="selectedId"
  (onClose)="close()"
></app-permission-control>
