<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate *ngIf="formReady">
  <app-card [header]="getTitle()" [show]="_show" (onCancel)="handleClose()">
    <div class="card-content">
      <div class="heading">
        基本信息
      </div>
      <table class="form">
        <tr>
          <th class="form-label">
            <span class="required">*</span>
            菜单名称:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'Name'">
              <input #formField type="text" class="form-control" [ngModel] formControlName="Name">
            </app-form-field>
          </td>
          <th class="form-label">
            菜单图标:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'Icon'">
              <input #formField type="text" class="form-control" [ngModel] formControlName="Icon">
            </app-form-field>
          </td>
        </tr>
        <tr>
          <th class="form-label">
            链接地址:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'Link'">
              <input #formField type="text" class="form-control" [ngModel] formControlName="Link">
            </app-form-field>
          </td>
          <th class="form-label">
            链接参数:
          </th>
          <td class="form-control-group">
            <app-form-field [name]="'LinkParameters'">
              <input #formField type="text" class="form-control" [ngModel] formControlName="LinkParameters">
            </app-form-field>
          </td>
        </tr>
        <tr>
          <th class="form-label">
            父级菜单:
          </th>
          <td class="form-control-group">
            <app-menu-selector #menuSelector formControlName="ParentId" [ngModel] (onChange)="getParent($event)"></app-menu-selector>
          </td>
          <th class="form-label">
            专属菜单:
          </th>
          <td class="form-control-group">
            <app-ui-radio [radioName]="'IsExclusive'" [value]="1" formControlName="IsExclusive" [label]="'是'"
              [ngModel]></app-ui-radio>
            <app-ui-radio [radioName]="'IsExclusive'" [checked]="true" [value]="0" formControlName="IsExclusive" [label]="'否'"
              [ngModel]></app-ui-radio>
          </td>
        </tr>
        <tr>
          <th class="form-label" *ngIf="this.form.controls['IsExclusive'].value">
            专属公司:
          </th>
          <td class="form-control-group" *ngIf="this.form.controls['IsExclusive'].value">
            <app-company-selector formControlName="CompanyId" [ngModel]></app-company-selector>            
          </td>
          <th class="form-label">
            所属模块:
          </th>
          <td class="form-control-group">
            <app-module-selector formControlName="ModuleType" [ngModel]></app-module-selector>
          </td>
        </tr>
      </table>
      <div *ngIf="!this.form.controls['IsExclusive'].value" class="heading">排除菜单公司列表</div>
      <app-ui-table *ngIf="!this.form.controls['IsExclusive'].value">
        <thead *ngIf="!this.form.controls['IsExclusive'].value">
          <th>操作</th>
          <th>公司</th>
        </thead>
        <tbody formArrayName="ExcludeCompanyList">
          <tr *ngFor="let item of excludeCompanyList.controls; index as i" [formGroupName]="i">
            <td width="50%">
              <a class="text-success" (click)="addCompany(i)"><i class="iconfont icon-add"></i></a>
              <a class="text-danger" (click)="removeCompany(i)"><i class="iconfont icon-close"></i></a>
            </td>
            <td width="50%">
              <app-company-selector formControlName="CompanyId" [ngModel]></app-company-selector>  
            </td>
          </tr>
        </tbody>
      </app-ui-table>
      <div class="heading">备注</div>
      <input type="text" formControlName="Remark" class="form-control" [ngModel]>
    </div>
    <div app-card-footer>
      <app-ui-button [style]="'primary'" type="submit">
        保存
      </app-ui-button>
      <app-ui-button (click)="handleClose()">
        取消
      </app-ui-button>
    </div>
  </app-card>
</form>