<div class="tabs">
  <a href="" class="angle angle-left">
    <i class="iconfont icon-back"></i>
  </a>
  <ul class="tabs-list">
    <li *ngFor="let tab of tabs">
      <a routerLink="{{tab.link}}" routerLinkActive="active">
        {{tab.name}}
        <i class="iconfont icon-close"></i>
      </a>
    </li>
  </ul>
  <a href="" class="angle angle-right">
    <i class="iconfont icon-more"></i>
  </a>
  <div class="more">
    <button type="button" class="dropdown-toggle">
      <i class="iconfont icon-moreunfold"></i>
    </button>
  </div>
</div>
