<div class="tabs">
  <a href="javascript:void()" class="angle angle-left">
    <i class="iconfont icon-back"></i>
  </a>
  <ul class="tabs-list">
    <li *ngFor="let tab of tabs">
      <a routerLink="{{tab.link}}" routerLinkActive="active">
        {{tab.name}}
        <i *ngIf="tab.id !== 1" class="iconfont icon-close" (click)="closeTab($event, tab)"></i>
      </a>
    </li>
  </ul>
  <a class="angle angle-right" href="javascript:void()">
    <i class="iconfont icon-more"></i>
  </a>
  <div class="more">
    <button type="button" class="dropdown-toggle">
      <i class="iconfont icon-moreunfold"></i>
    </button>
  </div>
</div>
