<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate *ngIf="formReady">
  <div class="actions">
    <app-ui-button [style]="'primary'" type="submit">
      <i class="iconfont icon-save"></i>
      保存
    </app-ui-button>
  </div>
  <div class="table-wrapper">
    <div class="heading">
      基本信息
    </div>
    <table class="form">
      <tr>
        <th class="form-label">
          <span class="required">*</span>
          启用日期
        </th>
        <td class="form-control-group">
          <dp-date-picker theme="dp-material" monthFormat="yyyy-MM-dd" mode="day" [config]="datePickerConfig" formControlName="EnableTime"
            [ngModel]></dp-date-picker>
          <app-ui-button [style]="'primary'" (click)="onOpenBill(form)">
            <i class="iconfont icon-add"></i>
            开账
          </app-ui-button>
        </td>        
      </tr>
    </table>
    <div class="heading">
      采购设置
    </div>
    <table class="form">
      <tr>
        <th class="form-label">
          <span class="required">*</span>
          价格设置
        </th>
        <td class="form-control-group">
          <app-ui-radio  [radioName] = "'test'" [value]="1" formControlName="PurchasePriceRule" [label]="'采购单价默认读取商品信息预设采购价'"  [ngModel]></app-ui-radio>
          <app-ui-radio  [radioName] = "'test'" [value]="2" formControlName="PurchasePriceRule" [label]="'采购单价默认读取供应商最近一次采购价'"  [ngModel]></app-ui-radio>        
        </td>        
      </tr>
    </table>
  </div>
</form>