<div class="menu">
  <ul class="menu-list">
    <li *ngFor="let menu of menus">
      <a title="{{menu.name}}">
        <i class="iconfont icon-{{menu.icon}}"></i>
      </a>
      <div class="sub-menu">
        <ul>
          <li *ngFor="let subMenu of menu.subMenu">
            <a>{{subMenu.name}}</a>
            <div class="sub-menu">
              <ul>
                <li *ngFor="let subMenuLink of subMenu.subMenu">
                  <a [routerLink]="subMenuLink.link" [queryParams]="subMenuLink.paras" 
                      (click)="createTab(subMenuLink)" skipLocationChange>
                    {{subMenuLink.name}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
