<div class="menu">
  <ul class="menu-list">
    <li *ngFor="let menu of this.localMenus">
      <a title="{{menu.Name}}">
        <i class="iconfont icon-{{menu.icon}}"></i>
      </a>
      <div class="sub-menu">
        <ul>
          <li *ngFor="let subMenu of menu.subMenus">
            <a>{{subMenu.Name}}</a>
            <div class="sub-menu">
              <ul>
                <li *ngFor="let subMenuLink of subMenu.subMenus">
                  <a [routerLink]="subMenuLink.Link" [queryParams]="subMenuLink.LinkParameters" 
                      (click)="createTab(subMenuLink)" skipLocationChange>
                    {{subMenuLink.Name}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
