<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate *ngIf="formReady">
<app-card [header]="'扩展信息'" [show]="_show" (onCancel)="handleClose()">
    <div class="card-content">
        <app-ui-table>
          <thead>
              <th>{{propertyName1}}</th>
              <th>{{propertyName2}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let item of productExtendItemList">
                <td>{{item.ColorName}}</td>
                <td>
                    <span class="margin-5" *ngFor="let sizeName of item.SizeNameList">{{sizeName}}</span>
                </td>
              </tr>
          </tbody>
        </app-ui-table>
    </div>
</app-card>
</form>